
html, body {
    height: 100%;
}

#c {
    position: absolute;
}

#header .me-img {
    border-radius: 200px;
}

#header .img-container {
    width: 150px;
    height: 150px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 15%;
    display: block;
    position: relative;

}

#header {
    height: 100%;
    display: block;
}

.header-name {
    margin-top: 20px;
    color: #ffffff;
    transform: rotate(-10deg);
    font-family: 'Kaushan Script', cursive;
}

.title {
    margin-top: 20px;
    color: #ffffff;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
}

/*intro==================================*/

#intro {
    background: black;
    padding-top: 10%;
    padding-bottom: 10%;
}

#intro .intro-title {
    color: #FF9000;
    font-family: 'Kaushan Script', cursive;
}

#intro-text {
    color: white;
    align-content: left;
    width: 80%;
    font-family: 'Space Mono', monospace;
    margin-bottom: 5%;
}

#intro-download {
    align-content: left;
    margin-bottom: 10%;
}

#intro-content {
    margin-bottom: 10%;
}

.wow {
    visibility: hidden;
}

/*=============================================*/

#skills {
    background: black;
    padding-bottom: 5%;
}

#contact {

}

#skills .skill-holder {
    margin-top: 10px;
    background-color: #FF9000;
}

#skills .skill-holder h5 {
    font-family: 'Space Mono', monospace;
}

#skills .skill-tail {
    margin-top: 10px;
    background: url("/img/tail.png");
}

#skills .skills-title {
    color: #FF9000;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 20px;
}

/*===================================*/
#services {
    background: black;
}

#services h3 {
    font-family: 'Kaushan Script', cursive;
    color: #FF9000;
}

#services a {
    font-family: 'Space Mono', monospace;
    color: #FF9000;
}

#services a:hover {
    color: #FFC300;
}

#services .service-des, .service-extra {
    font-family: 'Space Mono', monospace;
    color: #FFC300;

}

#services .service-extra {
    font-size: 15px;
    color: #FF9000;
}

#services .card {
    padding: 15px 15px;
    background-color: transparent;
}

#services .service-divider {
    margin-top: 5px;
    margin-bottom: 10%;
    height: 1px;

    background: linear-gradient(to right, #FF9000, #ffffff);
}

#services .service-img {
    position: relative;
}

#services .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    transition: all 0.4s ease-in-out;
}

#services .img-overlay:hover {
    opacity: 1;
    z-index: 1;
}

/*===================================*/
#contact {
    background: black;
    padding-bottom: 5%;
    padding-top: 5%;

}

#contact .contact-title {
    color: #FF9000;
    font-family: 'Kaushan Script', cursive;
}

#contact .contact-content {
    margin-top: 20px;
    color: #ffffff;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    padding-left: 20px;
}

#contact a.contact-link {
    font-family: 'Space Mono', monospace;
    color: #ffffff;
}

#contact a.contact-link:hover {
    color: #FFC300;
}

#contact .fa {
    margin-left: 0;
    color: white;
}

footer p {
    color: #f8f8f8;
    font-size: 10px;
}

footer {
    background: black;
}

footer .footer-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;

    background: linear-gradient(to right, #FF9000, #ffffff);
}

@media only screen and (max-width: 767px) {
    #skills .skill-tail {
        display: none;
    }

    #intro .img-container {
        padding: 15%;
    }

    #skills .skill-holder h5 {
        font-size: 12px;
    }

    #services .service-img-container {
        padding: 15% 15%;
    }
}
