<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../shared/head.ejs %>
    <% include components/head.ejs %>
</head>

<body>
<% include components/header.ejs %>
<% include components/intro.ejs %>
<% include components/skills.ejs %>
<% include components/services.ejs %>
<% include components/contact.ejs %>
<% include components/footer.ejs %>

<% include components/tail.ejs %>
<% include ../shared/tail.ejs %>

</body>

</html>
