<section id="contact">
    <div class="container">
        <h3 class="contact-title">Contact</h3>
        <div class="row">
            <div class="col-12">
                <div class="contact-content text-left">

                        <p>Name : Xian Li</p>
                        <p>Phone : +2064590199</p>
                        <p>Email : josiexianli@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>