<section id="contact">
    <div class="container">
        <h3 class="contact-title wow fadeInUp" data-wow-duration=".6s">Contact</h3>
        <div class="row">
            <div class="col-12">
                <div class="contact-content text-left">
                    <p class="wow fadeInRight" data-wow-duration=".6s" data-wow-delay=".2s">Name : Xian Li</p>
                    <p class="wow fadeInRight" data-wow-duration=".6s" data-wow-delay=".4s">
                        <a class="contact-link" href="tel://2064590199">
                            Phone : +1 (206)-459-0199
                        </a>
                    </p>
                    <p class="wow fadeInRight" data-wow-duration=".6s" data-wow-delay=".6s">Location：Los Angeles, CA</p>
                    <p class="wow fadeInRight" data-wow-duration=".6s" data-wow-delay=".8s">
                        <a class="contact-link" href="mailto:josiexianli@gmail.com">Email :
                            josiexianli@gmail.com</a></p>
                </div>
                <div class="icon-container text-center wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s">
                    <a href="https://www.linkedin.com/in/xian-li-580517111/"><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>