<section id= "contact">
    <div class="container">
       <h3 class ="contact-title">Contact</h3>
        <div class="row">
            <div class="col-12">
                <div class = "contact-content text-left">
                    <ul>Name    :  Xian Li                 </ul>
                    <ul>Phone   : +2064590199              </ul>
                    <ul>Email   :  josiexianli@gmail.com   </ul>
                </div>
            </div>
        </div>
    </div>
</section>