<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 footer-divider"></div>
            <div class="col-12">
                <p class="text-center wow fadeInLeft" data-wow-duration=".6s" data-wow-delay=".2s">
                    @2018 Xian Li, Chris Yao, and Leon Qiao. <%- '&ensp;&ensp; ' %>Designed By Jack Huang.
                    <%- '&ensp;&ensp;' %>All Rights
                    Reserved. </p>
            </div>
        </div>
    </div>
</footer>