<section id="header">
    <canvas id="c"></canvas>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="img-container text-center wow fadeIn" data-wow-duration=".6s" data-wow-delay="0s">
                    <img src="/img/me.jpg" class="img-fluid me-img" alt="Josie Xian Li">
                </div>
            </div>
            <div class="col-12">
                <h1 class="header-name text-center wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".2s"> -Xian Li- </h1>
                <h3 class="title text-center wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".4s"> Web Developer / Android Developer</h3>
                <div class="icon-container text-center wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s">
                    <a href="https://www.linkedin.com/in/xian-li-580517111/"><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

