<section id="intro">
    <div class="container header-content">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".2s">
                <h3 class="text-left intro-title">Hi, I am Xian</h3>
                <br>
                <p id="intro-text" class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".6s">
                    A current software engineer with 2 years’ project and work experience of software development,
                    web/mobile application, and algorithm implementation.
                </p>
                <br>
                <p id="intro-text" class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay="1s">

                    Offer a solid understanding of computer science, analytics and programming skills in Java, C#,
                    JavaScript and SQL. Passionate about learning and mastering new technologies quickly. Self-motivated
                    and detail-oriented to work in both team and self-directed settings.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ide-holder">
                <div class="container">
                    <h3 class="text-left intro-title wow fadeInUp" data-wow-duration=".6s" data-wow-delay="0s">I can use...</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-container wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".2s">
                                <img src="/img/ide/webstorm-icon.png" alt="Josie Xian Li" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-container wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".4s">
                                <img src="/img/ide/androidstudio-icon.png" alt="Josie Xian Li" class="img-fluid">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="img-container wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s">
                                <img src="/img/ide/visual-icon.png" alt="Josie Xian Li" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-container wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".8s">
                                <img src="/img/ide/datagrip-icon.png" alt="Josie Xian Li" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-container wow fadeInUp" data-wow-duration=".6s" data-wow-delay="1s">
                                <img src="/img/ide/intelj-icon.png" alt="Josie Xian Li" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-container wow fadeInUp" data-wow-duration=".6s" data-wow-delay="1.2s">
                                <img src="/img/ide/postman-icon.png" alt="Josie Xian Li" class="img-fluid">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-outline-warning wow fadeInUp" data-wow-duration=".6s" data-wow-delay="1.2s"
                       href="/docs/josie-resume.pdf" role="button"
                       download="josie-resume">
                        Download Resume
                    </a>
                </div>
            </div>
        </div>
</section>