<section id="intro">
    <div class="container intro-content">
        <div class="row no-gutters">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h3 class="text-left intro-title">Hi, I am Xian</h3>
                <br>
                <p id="intro-text">
                    A current software engineer with 2 years’ project and work experience of software development,
                    web/mobile application, and algorithm implementation.
                    <br>
                    <br>
                    Offer a solid understanding of computer science, analytics and programming skills in Java, C#,
                    JavaScript and SQL. Passionate about learning and mastering new technologies quickly. Self-motivated
                    and detail-oriented to work in both team and self-directed settings.
                </p>
            </div>
            <div class="col-lg-4 col-md-4"></div>
            <div class="col-12">
                <a class="btn btn-outline-warning" href="/docs/josie-resume.pdf" role="button"
                   download="josie-resume">
                    Download Resume
                </a></div>
        </div>
</section>