<section id="services">
    <div class="container">
        <h3 class="wow fadeIn" data-wow-duration=".6s">Services</h3>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
                <div class="card wow fadeInLeft">
                    <div class="service-img">
                        <a href="https://tassiecake.com">
                            <img src="/img/services/web-service.png" alt="Josie Xian Li" class="card-img-top img-fluid">
                            <div class="img-overlay"></div>
                        </a>
                    </div>
                    <div class="card-block">
                        <h5 class="service-des text-center"><a href="https://tassiecake.com">Web Design</a></h5>
                        <div class="service-divider"></div>
                        <p class="service-extra text-center">2 Years Full Stack Development</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
                <div class="card wow fadeInLeft" data-wow-duration=".6s" data-wow-delay=".6s">
                    <div class="service-img">
                        <a href="https://github.com/josiexianli/weather_forecast">
                            <img src="/img/services/android-service.png" alt="Josie Xian Li"
                                 class="card-img-top img-fluid">
                            <div class="img-overlay"></div>
                        </a>
                    </div>
                    <div class="card-block">
                        <h5 class="service-des text-center"><a
                                    href="https://github.com/josiexianli/weather_forecast">Android
                                App</a></h5>
                        <div class="service-divider"></div>
                        <p class="service-extra text-center">Weather Forecast App in GooglePlay</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
                <div class="card wow wow fadeInRight" data-wow-duration=".6s" data-wow-delay=".6s">
                    <div class="service-img">
                        <a href="https://mailer888.com">
                            <img src="/img/services/db-service.png" alt="Josie Xian Li"
                                 class="card-img-top img-fluid">
                            <div class="img-overlay">
                                <img src="/img/service-over/web-over.jpg" alt="Tassie Cake" class="img-fluid">
                            </div>
                        </a>
                    </div>
                    <div class="card-block">
                        <h5 class="service-des text-center"><a href="https://mailer888.com">Database Design</a></h5>
                        <div class="service-divider"></div>
                        <p class="service-extra text-center">2 Years MySQL/SQL Server Experience</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
                <div class="card wow fadeInRight" data-wow-duration=".6s" data-wow-delay=".2s">
                    <div class="service-img">
                        <a href="https://leaper888.com">
                            <img src="/img/services/architecture-service.png" alt="Josie Xian Li"
                                 class="card-img-top img-fluid">
                            <div class="img-overlay"></div>
                        </a>
                    </div>
                    <div class="card-block">
                        <h5 class="service-des text-center"><a href="https://leaper888.com">Web Design</a></h5>
                        <div class="service-divider"></div>
                        <p class="service-extra text-center">2 Years Full Stack Development</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>