<section id="services">
    <div class="container">
        <h3>Services</h3>
        <div class="row">

            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
                <div class="service-img-container wow fadeInLeft" data-wow-duration=".6s" data-wow-delay=".2s">
                    <img src="/img/services/web-service.png" alt="Josie Xian Li" class="img-fluid">
                    <h5 class="service-des text-center">Web Design</h5>
                    <div class="service-divider"></div>
                    <p class="service-extra text-center">2 Years Full Stack Development</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
                <div class="service-img-container wow fadeInLeft" data-wow-duration=".6s" data-wow-delay=".6s">
                    <img src="/img/services/android-service.png" alt="Josie Xian Li" class="img-fluid">
                    <h5 class="service-des text-center">Android App</h5>
                    <div class="service-divider"></div>
                    <p class="service-extra text-center">Weather Forecast App in GooglePlay</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
                <div class="service-img-container wow fadeInRight" data-wow-duration=".6s" data-wow-delay=".6s">
                    <img src="/img/services/db-service.png" alt="Josie Xian Li" class="img-fluid">
                    <h5 class="service-des text-center">Database Design</h5>
                    <div class="service-divider"></div>
                    <p class="service-extra text-center">2 Years MySQL/SQL Server Experience</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
                <div class="service-img-container wow fadeInRight" data-wow-duration=".6s" data-wow-delay=".2s">
                    <img src="/img/services/architecture-service.png" alt="Josie Xian Li" class="img-fluid">
                    <h5 class="service-des text-center">System Design</h5>
                    <div class="service-divider"></div>
                    <p class="service-extra text-center">Hands on Project Experience</p>
                </div>
            </div>
        </div>
    </div>
</section>