<section id="skills">

    <div class="container">
        <h3 class="skills-title">Skills</h3>
        <div class="row">
            <div class="col-3 skill-holder"><h5>jQuery</h5></div>
            <div class="col-3 skill-tail">
                <!--<img src="/img/tail.png" alt="" class="img-fluid">-->
            </div>
        </div>
        <div class="row">
            <div class="col-5 skill-holder"><h5>Mobile Development</h5></div>
            <div class="col-3 skill-tail">
                <!--<img src="/img/tail.png" alt="" class="img-fluid">-->
            </div>
        </div>
        <div class="row">
            <div class="col-8 skill-holder"><h5>Node.js</h5></div>
            <div class="col-3 skill-tail">
                <!--<img src="/img/tail.png" alt="" class="img-fluid">-->
            </div>

        </div>
        <div class="row">
            <div class="col-6 skill-holder"><h5>C#</h5></div>
            <div class="col-3 skill-tail">
                <!--<img src="/img/tail.png" alt="" class="img-fluid">-->
            </div>

        </div>
        <div class="row">
            <div class="col-7 skill-holder"><h5>SQL</h5></div>
            <div class="col-3 skill-tail">
                <!--<img src="/img/tail.png" alt="" class="img-fluid">-->
            </div>
        </div>
        <div class="row">
            <div class="col-8 skill-holder"><h5>JavaScript</h5></div>
            <div class="col-3 skill-tail">
                <!--<img src="/img/tail.png" alt="" class="img-fluid">-->
            </div>

        </div>
        <div class="row">
            <div class="col-9 skill-holder"><h5>Java</h5></div>
            <div class="col-3 skill-tail">
                <!--<img src="/img/tail.png" alt="" class="img-fluid">-->
            </div>
        </div>
    </div>
</section>